<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">


<context-param>
	<param-name>appVersion</param-name>
	<param-value>v1.1.0</param-value>
</context-param>



<servlet>
	<servlet-name>home</servlet-name>
	<servlet-class>App</servlet-class>
</servlet>

<servlet>
	<servlet-name>myLogin</servlet-name>
	<servlet-class>Login</servlet-class>
</servlet>

<servlet>
	<servlet-name>userNotFound</servlet-name>
	<servlet-class>UserNotFound</servlet-class>
</servlet>


<servlet-mapping>
	<servlet-name>home</servlet-name>
	<url-pattern>/home</url-pattern>
</servlet-mapping>

<servlet-mapping>
	<servlet-name>myLogin</servlet-name>
	<url-pattern>/login</url-pattern>
</servlet-mapping>

<servlet-mapping>
	<servlet-name>userNotFound</servlet-name>
	<url-pattern>/user-not-found</url-pattern>
</servlet-mapping>

</web-app>